<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.langtuo.teamachine.dao.mapper.drink.AccuracyTplMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.drink.AccuracyTplPO" id="accuracyTemplatePOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="comment" column="comment"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
        <result property="templateCode" column="template_code"/>
        <result property="templateName" column="template_name"/>
        <result property="overMode" column="over_mode"/>
        <result property="overAmount" column="over_amount"/>
        <result property="underMode" column="under_mode"/>
        <result property="underAmount" column="under_amount"/>

    </resultMap>

    <select id="selectOne" resultMap="accuracyTemplatePOMap">
        SELECT * FROM accuracy_template
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="templateCode != null">
                AND template_code = #{templateCode}
            </if>
    </select>

    <select id="selectList" resultMap="accuracyTemplatePOMap">
        SELECT * FROM accuracy_template
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
    </select>

    <select id="search" resultMap="accuracyTemplatePOMap">
        SELECT * FROM accuracy_template
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="templateCode != null">
                AND template_code = #{templateCode}
            </if>
            <if test="templateName != null">
                AND template_name = #{templateName}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.drink.AccuracyTplPO">
        INSERT INTO accuracy_template (
            gmt_created
            , gmt_modified
            , template_code
            , template_name
            , over_mode
            , over_amount
            , under_mode
            , under_amount
            , tenant_code
            , comment
            , extra_info
        ) VALUES (
            now()
            , now()
            , #{templateCode}
            , #{templateName}
            , #{overMode}
            , #{overAmount}
            , #{underMode}
            , #{underAmount}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.drink.AccuracyTplPO">
        UPDATE accuracy_template
        SET
            gmt_modified = now()
            <if test="templateName != null">
                , template_name = #{templateName}
            </if>
            <if test="overMode != null">
                , over_mode = #{overMode}
            </if>
            <if test="overAmount != null">
                , over_amount = #{overAmount}
            </if>
            <if test="underMode != null">
                , under_mode = #{underMode}
            </if>
            <if test="underAmount != null">
                , under_amount = #{underAmount}
            </if>
            <if test="comment != null">
                , comment = #{comment}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND template_code = #{templateCode}
    </update>

    <delete id="delete">
        DELETE FROM accuracy_template
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND template_code = #{templateCode}
    </delete>
</mapper>