<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.drink.SpecMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.drink.SpecPO" id="specPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="specCode" column="spec_code"/>
        <result property="specName" column="spec_name"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="comment" column="comment"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="specPOMap">
        SELECT * FROM spec
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="specCode != null">
                AND spec_code = #{specCode}
            </if>
    </select>

    <select id="selectList" resultMap="specPOMap">
        SELECT * FROM spec
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
    </select>

    <select id="search" resultMap="specPOMap">
        SELECT * FROM spec
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="specCode != null">
                AND spec_code = #{specCode}
            </if>
            <if test="specName != null">
                AND spec_name = #{specName}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.drink.SpecPO">
        INSERT INTO spec (
            gmt_created
            , gmt_modified
            , spec_code
            , spec_name
            , tenant_code
            , comment
            , extra_info
        ) VALUES (
            now()
            , now()
            , #{specCode}
            , #{specName}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.drink.SpecPO">
        UPDATE spec
        SET
            gmt_modified = now()
            <if test="specName != null">
                , spec_name = #{specName}
            </if>
            <if test="comment != null">
                , comment = #{comment}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND spec_code = #{specCode}
    </update>

    <delete id="delete">
        DELETE FROM spec
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND spec_code = #{specCode}
    </delete>
</mapper>