<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.drink.TeaMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.drink.TeaPO" id="teaPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="teaCode" column="tea_code"/>
        <result property="teaName" column="tea_name"/>
        <result property="state" column="state"/>
        <result property="teaTypeCode" column="tea_type_code"/>
        <result property="imgLink" column="img_link"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="comment" column="comment"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="teaPOMap">
        SELECT * FROM tea
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="teaCode != null">
                AND tea_code = #{teaCode}
            </if>
    </select>

    <select id="selectList" resultMap="teaPOMap">
        SELECT * FROM tea
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
    </select>

    <select id="countByTeaTypeCode" resultType="int">
        SELECT COUNT(1) FROM tea
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="teaTypeCode != null">
                AND tea_type_code = #{teaTypeCode}
            </if>
    </select>

    <select id="search" resultMap="teaPOMap">
        SELECT * FROM tea
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="teaCode != null">
                AND tea_code = #{teaCode}
            </if>
            <if test="teaName != null">
                AND tea_name = #{teaName}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.drink.TeaPO">
        INSERT INTO tea (
            gmt_created
            , gmt_modified
            , tea_code
            , tea_name
            , state
            , tea_type_code
            , img_link
            , tenant_code
            , comment
            , extra_info
        ) VALUES (
            now()
            , now()
            , #{teaCode}
            , #{teaName}
            , #{state}
            , #{teaTypeCode}
            , #{imgLink}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.drink.TeaPO">
        UPDATE tea
        SET
            gmt_modified = now()
            <if test="teaName != null">
                , tea_name = #{teaName}
            </if>
            <if test="state != null">
                , state = #{state}
            </if>
            <if test="teaTypeCode != null">
                , tea_type_code = #{teaTypeCode}
            </if>
            <if test="imgLink != null">
                , img_link = #{imgLink}
            </if>
            <if test="tenantCode != null">
                , tenant_code = #{tenantCode}
            </if>
            <if test="comment != null">
                , comment = #{comment}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND tea_code = #{teaCode}
    </update>

    <delete id="delete">
        DELETE FROM tea
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND tea_code = #{teaCode}
    </delete>
</mapper>