<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.drink.TeaTypeMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.drink.TeaTypePO" id="teaTypePOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="teaTypeCode" column="tea_type_code"/>
        <result property="teaTypeName" column="tea_type_name"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="comment" column="comment"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="teaTypePOMap">
        SELECT * FROM tea_type
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="teaTypeCode != null">
                AND tea_type_code = #{teaTypeCode}
            </if>
    </select>

    <select id="selectList" resultMap="teaTypePOMap">
        SELECT * FROM tea_type
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
    </select>

    <select id="search" resultMap="teaTypePOMap">
        SELECT * FROM tea_type
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="teaTypeCode != null">
                AND tea_type_code = #{teaTypeCode}
            </if>
            <if test="teaTypeName != null">
                AND tea_type_name = #{teaTypeName}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.drink.TeaTypePO">
        INSERT INTO tea_type (
            gmt_created
            , gmt_modified
            , tea_type_code
            , tea_type_name
            , tenant_code
            , comment
            , extra_info
        ) VALUES (
            now()
            , now()
            , #{teaTypeCode}
            , #{teaTypeName}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.drink.TeaTypePO">
        UPDATE tea_type
        SET
            gmt_modified = now()
            <if test="teaTypeName != null">
                , tea_type_name = #{teaTypeName}
            </if>
            <if test="comment != null">
                , comment = #{comment}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND tea_type_code = #{teaTypeCode}
    </update>

    <delete id="delete">
        DELETE FROM tea_type
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND tea_type_code = #{teaTypeCode}
    </delete>
</mapper>