<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.drink.ToppingTypeMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.drink.ToppingTypePO" id="toppingTypePOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="toppingTypeCode" column="topping_type_code"/>
        <result property="toppingTypeName" column="topping_type_name"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="comment" column="comment"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="toppingTypePOMap">
        SELECT * FROM topping_type
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="toppingTypeCode != null">
                AND topping_type_code = #{toppingTypeCode}
            </if>
    </select>

    <select id="selectList" resultMap="toppingTypePOMap">
        SELECT * FROM topping_type
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
    </select>

    <select id="search" resultMap="toppingTypePOMap">
        SELECT * FROM topping_type
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="toppingTypeName != null">
                AND topping_type_name = #{toppingTypeName}
            </if>
            <if test="toppingTypeCode != null">
                AND topping_type_code = #{toppingTypeCode}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.drink.ToppingTypePO">
        INSERT INTO topping_type (
            gmt_created
            , gmt_modified
            , topping_type_code
            , topping_type_name
            , tenant_code
            , comment
            , extra_info
        ) VALUES (
            now()
            , now()
            , #{toppingTypeCode}
            , #{toppingTypeName}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.drink.ToppingTypePO">
        UPDATE topping_type
        SET
            gmt_modified = now()
            <if test="toppingTypeName != null">
                , topping_type_name = #{toppingTypeName}
            </if>
            <if test="comment != null">
                , comment = #{comment}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and topping_type_code = #{toppingTypeCode}
    </update>

    <delete id="delete">
        DELETE FROM topping_type
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and topping_type_code = #{toppingTypeCode}
    </delete>
</mapper>