<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.drink.ToppingMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.drink.ToppingPO" id="toppingPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="toppingCode" column="topping_code"/>
        <result property="toppingName" column="topping_name"/>
        <result property="toppingTypeCode" column="topping_type_code"/>
        <result property="measureUnit" column="measure_unit"/>
        <result property="validPeriodHour" column="valid_period_hour"/>
        <result property="cleanPeriodHour" column="clean_period_hour"/>
        <result property="convertCoefficient" column="convert_coefficient"/>
        <result property="flowSpeed" column="flow_speed"/>
        <result property="tenantCode" column="tenant_code"/>

        <result property="invalidWarningThresholdMin" column="invalid_warning_threshold_min"/>
        <result property="cleanWarningThresholdMin" column="clean_warning_threshold_min"/>
        <result property="supplyWarningThreshold" column="supply_warning_threshold"/>
        <result property="overAmount" column="over_amount"/>
        <result property="overMode" column="over_mode"/>
        <result property="underAmount" column="under_amount"/>
        <result property="underMode" column="under_mode"/>

        <result property="comment" column="comment"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="toppingPOMap">
        SELECT * FROM topping
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            <if test="toppingCode != null">
                AND topping_code = #{toppingCode}
            </if>
    </select>

    <select id="selectList" resultMap="toppingPOMap">
        SELECT * FROM topping
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
    </select>

    <select id="countByToppingTypeCode" resultType="int">
        SELECT COUNT(1) FROM topping
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="toppingTypeCode != null">
                AND topping_type_code = #{toppingTypeCode}
            </if>
    </select>

    <select id="search" resultMap="toppingPOMap">
        SELECT * FROM topping
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="toppingName != null">
                AND topping_name = #{toppingName}
            </if>
            <if test="toppingCode != null">
                AND topping_code = #{toppingCode}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.drink.ToppingPO">
        INSERT INTO topping (
            gmt_created
            , gmt_modified
            , topping_code
            , topping_name
            , topping_type_code
            , measure_unit
            , valid_period_hour
            , clean_period_hour
            , convert_coefficient
            , flow_speed
            , tenant_code
            , comment
            , extra_info
            , invalid_warning_threshold_min
            , clean_warning_threshold_min
            , supply_warning_threshold
            , over_amount
            , over_mode
            , under_amount
            , under_mode
        ) VALUES (
            now()
            , now()
            , #{toppingCode}
            , #{toppingName}
            , #{toppingTypeCode}
            , #{measureUnit}
            , #{validPeriodHour}
            , #{cleanPeriodHour}
            , #{convertCoefficient}
            , #{flowSpeed}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            , #{invalidWarningThresholdMin}
            , #{cleanWarningThresholdMin}
            , #{supplyWarningThreshold}
            , #{overAmount}
            , #{overMode}
            , #{underAmount}
            , #{underMode}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.drink.ToppingPO">
        UPDATE topping
        SET
            gmt_modified = now()
            <if test="toppingName != null">
                , topping_name = #{toppingName}
            </if>
            <if test="toppingTypeCode != null">
                , topping_type_code = #{toppingTypeCode}
            </if>
            <if test="measureUnit != null">
                , measure_unit = #{measureUnit}
            </if>
            <if test="validPeriodHour != null">
                , valid_period_hour = #{validPeriodHour}
            </if>
            <if test="cleanPeriodHour != null">
                , clean_period_hour = #{cleanPeriodHour}
            </if>
            <if test="convertCoefficient != null">
                , convert_coefficient = #{convertCoefficient}
            </if>
            <if test="flowSpeed != null">
                , flow_speed = #{flowSpeed}
            </if>
            <if test="comment != null">
                , comment = #{comment}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
            <if test="invalidWarningThresholdMin != null">
                , invalid_warning_threshold_min = #{invalidWarningThresholdMin}
            </if>
            <if test="cleanWarningThresholdMin != null">
                , clean_warning_threshold_min = #{cleanWarningThresholdMin}
            </if>
            <if test="supplyWarningThreshold != null">
                , supply_warning_threshold = #{supplyWarningThreshold}
            </if>
            <if test="overMode != null">
                , over_mode = #{overMode}
            </if>
            <if test="overAmount != null">
                , over_amount = #{overAmount}
            </if>
            <if test="underMode != null">
                , under_mode = #{underMode}
            </if>
            <if test="underAmount != null">
                , under_amount = #{underAmount}
            </if>
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and topping_code = #{toppingCode}
    </update>

    <delete id="delete">
        DELETE FROM topping
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and topping_code = #{toppingCode}
    </delete>
</mapper>