<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.drink.ToppingAdjustRuleMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.drink.ToppingAdjustRulePO" id="teaToppingAdjustPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="teaCode" column="tea_code"/>
        <result property="teaUnitCode" column="tea_unit_code"/>
        <result property="stepIndex" column="step_index"/>
        <result property="toppingCode" column="topping_code"/>
        <result property="adjustType" column="adjust_type"/>
        <result property="adjustMode" column="adjust_mode"/>
        <result property="adjustAmount" column="adjust_amount"/>
    </resultMap>

    <select id="selectOne" resultMap="teaToppingAdjustPOMap">
        SELECT * FROM topping_adjust_rule
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="teaCode != null">
                AND tea_code = #{teaCode}
            </if>
            <if test="teaUnitCode != null">
                AND tea_unit_code = #{teaUnitCode}
            </if>
            <if test="toppingCode != null">
                AND topping_code = #{toppingCode}
            </if>
    </select>

    <select id="selectList" resultMap="teaToppingAdjustPOMap">
        SELECT * FROM topping_adjust_rule
        WHERE 1 = 1
        AND tenant_code = #{tenantCode}
            <if test="teaCode != null">
                AND tea_code = #{teaCode}
            </if>
            <if test="teaUnitCode != null">
                AND tea_unit_code = #{teaUnitCode}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.drink.ToppingAdjustRulePO">
        INSERT INTO topping_adjust_rule (
            gmt_created
            , gmt_modified
            , tenant_code
            , tea_code
            , tea_unit_code
            , step_index
            , topping_code
            , adjust_type
            , adjust_mode
            , adjust_amount
        ) VALUES (
            now()
            , now()
            , #{tenantCode}
            , #{teaCode}
            , #{teaUnitCode}
            , #{stepIndex}
            , #{toppingCode}
            , #{adjustType}
            , #{adjustMode}
            , #{adjustAmount}
        )
    </insert>

    <delete id="delete">
        DELETE FROM topping_adjust_rule
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND tea_code = #{teaCode}
    </delete>
</mapper>