<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.recordset.OrderToppingActRecordMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.recordset.OrderToppingActRecordPO" id="orderToppingActRecordPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="idempotentMark" column="idempotent_mark"/>
        <result property="stepIndex" column="step_index"/>
        <result property="toppingCode" column="topping_code"/>
        <result property="actualAmount" column="actual_amount"/>
    </resultMap>

    <select id="selectList" resultMap="orderToppingActRecordPOMap">
        SELECT * FROM order_topping_act_record
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND idempotent_mark = #{idempotentMark}
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.recordset.OrderToppingActRecordPO">
        INSERT INTO order_topping_act_record (
            gmt_created
            , gmt_modified
            , tenant_code
            , idempotent_mark
            , step_index
            , topping_code
            , actual_amount
        ) VALUES (
            now()
            , now()
            , #{tenantCode}
            , #{idempotentMark}
            , #{stepIndex}
            , #{toppingCode}
            , #{actualAmount}
        )
    </insert>

    <delete id="delete">
        DELETE FROM order_topping_act_record
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND idempotent_mark = #{idempotentMark}
    </delete>
</mapper>