<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.recordset.OrderActRecordMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.recordset.OrderActRecordPO" id="orderActRecordPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="machineCode" column="machine_code"/>
        <result property="shopCode" column="shop_code"/>
        <result property="orderGmtCreated" column="order_gmt_created"/>
        <result property="outerOrderId" column="outer_order_id"/>
        <result property="state" column="state"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="orderActRecordPOMap">
        SELECT * FROM order_act_record
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and machine_code = #{machineCode}
            and shop_code = #{shopCode}
            and order_gmt_created = #{orderGmtCreated}
    </select>

    <select id="selectList" resultMap="orderActRecordPOMap">
        SELECT * FROM order_act_record LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.recordset.OrderActRecordPO">
        INSERT INTO `order_act_record` (
            `gmt_created`
            , `gmt_modified`
            , `machine_code`
            , `shop_code`
            , `order_gmt_created`
            , `outer_order_id`
            , `state`
            , `tenant_code`
            , `extra_info`
        ) VALUES (
            now()
            , now()
            , #{machineCode}
            , #{shopCode}
            , #{orderGmtCreated}
            , #{outerOrderId}
            , #{state}
            , #{tenantCode}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <delete id="delete">
        DELETE FROM order_act_record
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and machine_code = #{machineCode}
            and shop_code = #{shopCode}
            and order_gmt_created = #{orderGmtCreated}
    </delete>
</mapper>