<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.ruleset.OpenRuleToppingMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.ruleset.OpenRuleToppingPO" id="openRuleToppingPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="openRuleCode" column="open_rule_code"/>
        <result property="toppingCode" column="topping_code"/>
        <result property="flushTime" column="flush_time"/>
        <result property="flushWeight" column="flush_weight"/>
        <result property="tenantCode" column="tenant_code"/>
    </resultMap>

    <select id="selectList" resultMap="openRuleToppingPOMap">
        SELECT * FROM open_rule_topping
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND open_rule_code = #{openRuleCode}
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.ruleset.OpenRuleToppingPO">
        INSERT INTO open_rule_topping (
            gmt_created
            , gmt_modified
            , open_rule_code
            , topping_code
            , flush_time
            , flush_weight
            , tenant_code
        ) VALUES (
            now()
            , now()
            , #{openRuleCode}
            , #{toppingCode}
            , #{flushTime}
            , #{flushWeight}
            , #{tenantCode}
        )
    </insert>

    <delete id="delete">
        DELETE FROM open_rule_topping
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND open_rule_code = #{openRuleCode}
    </delete>
</mapper>