<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.device.DeployMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.device.DeployPO" id="machineDeployPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="deployCode" column="deploy_code"/>
        <result property="modelCode" column="model_code"/>
        <result property="machineCode" column="machine_code"/>
        <result property="shopCode" column="shop_code"/>
        <result property="state" column="state"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="machineDeployPOMap">
        SELECT * FROM deploy
        WHERE 1 = 1
            <if test="tenantCode != null">
                AND tenant_code = #{tenantCode}
            </if>
            <if test="deployCode != null">
                AND deploy_code = #{deployCode}
            </if>
            <if test="machineCode != null">
                AND machine_code = #{machineCode}
            </if>
    </select>

    <select id="selectList" resultMap="machineDeployPOMap">
        SELECT *
        FROM deploy
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
    </select>

    <select id="search" parameterType="com.langtuo.teamachine.dao.query.device.MachineDeployQuery" resultMap="machineDeployPOMap">
        SELECT *
        FROM deploy
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="deployCode != null">
                AND deploy_code = #{deployCode}
            </if>
            <if test="machineCode != null">
                AND machine_code = #{machineCode}
            </if>
            <if test="shopCode != null">
                AND shop_code = #{shopCode}
            </if>
            <if test="state != null">
                AND state = #{state}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.device.DeployPO">
        INSERT INTO deploy (
            gmt_created
            , gmt_modified
            , tenant_code
            , extra_info
            , deploy_code
            , machine_code
            , model_code
            , shop_code
            , state
        ) VALUES (
            now()
            , now()
            , #{tenantCode}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            , #{deployCode}
            , #{machineCode}
            , #{modelCode}
            , #{shopCode}
            , #{state}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.device.DeployPO">
        UPDATE deploy
        SET
            gmt_modified = now()
            <if test="modelCode != null">
                , model_code = #{modelCode}
            </if>
            <if test="machineCode != null">
                , machine_code = #{machineCode}
            </if>
            <if test="shopCode != null">
                , shop_code = #{shopCode}
            </if>
            <if test="state != null">
                , state = #{state}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            <if test="tenantCode != null">
                AND tenant_code = #{tenantCode}
            </if>
            AND deploy_code = #{deployCode}
    </update>

    <delete id="delete">
        DELETE FROM deploy
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND deploy_code = #{deployCode}
    </delete>
</mapper>