<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.device.ModelMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.device.ModelPO" id="machineModelPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="modelCode" column="model_code"/>
        <result property="enableFlowAll" column="enable_flow_all"/>
        <result property="pipeCleanSimultMaxCnt" column="pipe_clean_simult_max_cnt"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="machineModelPOMap">
        SELECT * FROM model WHERE model_code = #{modelCode}
    </select>

    <select id="selectList" resultMap="machineModelPOMap">
        SELECT *
        FROM model
    </select>

    <select id="search" parameterType="com.langtuo.teamachine.dao.query.device.MachineModelQuery" resultMap="machineModelPOMap">
        SELECT *
        FROM model
        WHERE 1 = 1
            <if test="modelCode != null">
                AND model_code = #{modelCode}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.device.ModelPO">
        INSERT INTO model (
            gmt_created
            , gmt_modified
            , model_code
            , enable_flow_all
            , pipe_clean_simult_max_cnt
            , extra_info
        ) VALUES (
            now()
            , now()
            , #{modelCode}
            , #{enableFlowAll}
            , #{pipeCleanSimultMaxCnt}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.device.ModelPO">
        UPDATE model
        SET
            gmt_modified = now()
            <if test="enableFlowAll != null">
                , enable_flow_all = #{enableFlowAll}
            </if>
            <if test="pipeCleanSimultMaxCnt != null">
                , pipe_clean_simult_max_cnt = #{pipeCleanSimultMaxCnt}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            AND model_code = #{modelCode};
    </update>

    <delete id="delete">
        DELETE FROM model
        WHERE 1 = 1
            AND model_code = #{model_code}
    </delete>
</mapper>