<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.device.ModelPipelineMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.device.ModelPipelinePO" id="machineModelPipelinePOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="modelCode" column="model_code"/>
        <result property="pipelineNum" column="pipeline_num"/>
        <result property="enableWarm" column="enable_warm"/>
        <result property="enableFreeze" column="enable_freeze"/>
        <result property="capacity" column="capacity"/>
        <result property="syrupPipeline" column="syrup_pipeline"/>
        <result property="sensorThreshold" column="sensor_threshold"/>
    </resultMap>

    <select id="selectOne" resultMap="machineModelPipelinePOMap">
        SELECT * FROM model_pipeline
        WHERE 1 = 1
            AND model_code = #{modelCode}
            AND pipeline_num = #{pipelineNum}
    </select>

    <select id="selectList" resultMap="machineModelPipelinePOMap">
        SELECT *
        FROM model_pipeline
        WHERE 1 = 1
            AND model_code = #{modelCode}
        LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.device.ModelPipelinePO">
        INSERT INTO model_pipeline (
            gmt_created
            , gmt_modified
            , model_code
            , pipeline_num
            , enable_warm
            , enable_freeze
            , capacity
            , syrup_pipeline
            , sensor_threshold
        ) VALUES (
            now()
            , now()
            , #{modelCode}
            , #{pipelineNum}
            , #{enableWarm}
            , #{enableFreeze}
            , #{capacity}
            , #{syrupPipeline}
            , #{sensorThreshold}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.device.ModelPipelinePO">
        UPDATE model_pipeline
        SET
            gmt_modified = now()
            <if test="enableWarm != null">
                , enable_warm = #{enableWarm}
            </if>
            <if test="enableFreeze != null">
                , enable_freeze = #{enableFreeze}
            </if>
            <if test="capacity != null">
                , capacity = #{capacity}
            </if>
            <if test="syrupPipeline != null">
                , syrup_pipeline = #{syrupPipeline}
            </if>
            <if test="sensorThreshold != null">
                , sensor_threshold = #{sensorThreshold}
            </if>
        WHERE model_code = #{modelCode}
            AND pipeline_num = #{pipelineNum}
    </update>

    <delete id="delete">
        DELETE FROM model_pipeline
        WHERE 1 = 1
            AND model_code = #{modelCode}
    </delete>
</mapper>