<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.langtuo.teamachine.dao.mapper.drinkset.ToppingAccuracyTplMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.drinkset.ToppingAccuracyTplPO" id="toppingAccuracyTemplatePOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
        <result property="templateCode" column="template_code"/>
        <result property="templateName" column="template_name"/>
        <result property="state" column="state"/>
        <result property="overUnit" column="over_unit"/>
        <result property="overAmount" column="over_amount"/>
        <result property="underUnit" column="under_unit"/>
        <result property="underAmount" column="under_amount"/>
        <result property="toppingCode" column="topping_code"/>
        <result property="comment" column="comment"/>
    </resultMap>

    <select id="selectOne" resultMap="toppingAccuracyTemplatePOMap">
        SELECT * FROM topping_accuracy_template
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="templateCode != null">
                AND template_code = #{templateCode}
            </if>
            <if test="templateName != null">
                AND template_name = #{templateName}
            </if>
    </select>

    <select id="selectList" resultMap="toppingAccuracyTemplatePOMap">
        SELECT * FROM topping_accuracy_template
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
    </select>

    <select id="search" resultMap="toppingAccuracyTemplatePOMap">
        SELECT * FROM topping_accuracy_template
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="templateCode != null">
                AND template_code = #{templateCode}
            </if>
            <if test="templateName != null">
                AND template_name = #{templateName}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.drinkset.ToppingAccuracyTplPO">
        INSERT INTO topping_accuracy_template (
            gmt_created
            , gmt_modified
            , template_code
            , template_name
            , state
            , over_unit
            , over_amount
            , under_unit
            , under_amount
            , topping_code
            , tenant_code
            , comment
            , extra_info
        ) VALUES (
            now()
            , now()
            , #{templateCode}
            , #{templateName}
            , #{state}
            , #{overUnit}
            , #{overAmount}
            , #{underUnit}
            , #{underAmount}
            , #{toppingCode}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.drinkset.ToppingAccuracyTplPO">
        UPDATE topping_accuracy_template
        SET
            gmt_modified = now()
            <if test="specName != null">
                , template_name = #{specName}
            </if>
            <if test="state != null">
                , state = #{state}
            </if>
            <if test="overUnit != null">
                , over_unit = #{overUnit}
            </if>
            <if test="overAmount != null">
                , over_amount = #{overAmount}
            </if>
            <if test="underUnit != null">
                , under_unit = #{underUnit}
            </if>
            <if test="underAmount != null">
                , under_amount = #{underAmount}
            </if>
            <if test="toppingCode != null">
                , topping_code = #{toppingCode}
            </if>
            <if test="comment != null">
                , comment = #{comment}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND template_code = #{templateCode}
    </update>

    <delete id="delete">
        DELETE FROM topping_accuracy_template
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND template_code = #{templateCode}
    </delete>
</mapper>