<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.menuset.MenuDispatchMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.menuset.MenuDispatchPO" id="menuDispatchPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="menuCode" column="menu_code"/>
        <result property="shopCode" column="shop_code"/>
        <result property="tenantCode" column="tenant_code"/>
    </resultMap>

    <select id="selectOne" resultMap="menuDispatchPOMap">
        SELECT * FROM menu_dispatch
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and menu_code = #{menuCode}
            and shop_code = #{shopCode}
    </select>

    <select id="selectList" resultMap="menuDispatchPOMap">
        SELECT * FROM menu_dispatch LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.menuset.MenuDispatchPO">
        INSERT INTO `menu_dispatch` (
            `gmt_created`
            , `gmt_modified`
            , `menu_code`
            , `shop_code`
            , `tenant_code`
        ) VALUES (
            now()
            , now()
            , #{menuCode}
            , #{shopCode}
            , #{tenantCode}
        )
    </insert>

    <delete id="delete">
        DELETE FROM menu_dispatch
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and menu_code = #{menuCode}
            and shop_code = #{shopCode}
    </delete>
</mapper>