<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.rule.CleanRuleStepMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.rule.CleanRuleStepPO" id="cleanStepPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="cleanRuleCode" column="clean_rule_code"/>
        <result property="stepIndex" column="step_index"/>
        <result property="cleanContent" column="clean_content"/>
        <result property="washSec" column="wash_sec"/>
        <result property="soakMin" column="soak_min"/>
        <result property="flushIntervalMin" column="flush_interval_min"/>
        <result property="flushSec" column="flush_sec"/>
        <result property="remindTitle" column="remind_title"/>
        <result property="remindContent" column="remind_content"/>
        <result property="needConfirm" column="need_confirm"/>
        <result property="cleanAgentType" column="clean_agent_type"/>
    </resultMap>

    <select id="selectOne" resultMap="cleanStepPOMap">
        SELECT * FROM clean_rule_step
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND clean_rule_code = #{cleanRuleCode}
            AND step_index = #{stepIndex}
    </select>

    <select id="selectList" resultMap="cleanStepPOMap">
        SELECT * FROM clean_rule_step
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND clean_rule_code = #{cleanRuleCode}
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.rule.CleanRuleStepPO">
        INSERT INTO clean_rule_step (
            gmt_created
            , gmt_modified
            , clean_rule_code
            , step_index
            , clean_content
            , wash_sec
            , soak_min
            , flush_interval_min
            , flush_sec
            , remind_title
            , remind_content
            , need_confirm
            , clean_agent_type
            , tenant_code
        ) VALUES (
            now()
            , now()
            , #{cleanRuleCode}
            , #{stepIndex}
            , #{cleanContent}
            , #{washSec}
            , #{soakMin}
            , #{flushIntervalMin}
            , #{flushSec}
            , #{remindTitle}
            , #{remindContent}
            , #{needConfirm}
            , #{cleanAgentType}
            , #{tenantCode}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.rule.CleanRuleStepPO">
        UPDATE clean_rule_step
        SET
            gmt_modified = now()
            <if test="cleanContent != null">
                , clean_content = #{cleanContent}
            </if>
            <if test="washSec != null">
                , wash_sec = #{washSec}
            </if>
            <if test="soakMin != null">
                , soak_min = #{soakMin}
            </if>
            <if test="flushIntervalMin != null">
                , flush_interval_min = #{flushIntervalMin}
            </if>
            <if test="flushSec != null">
                , flush_sec = #{flushSec}
            </if>
            <if test="remindTitle != null">
                , remind_title = #{remindTitle}
            </if>
            <if test="remindContent != null">
                , remind_content = #{remindContent}
            </if>
            <if test="cleanAgentType != null">
                , clean_agent_type= #{cleanAgentType}
            </if>
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND clean_rule_code = #{cleanRuleCode}
            AND step_index = #{stepIndex}
    </update>

    <delete id="delete">
        DELETE FROM clean_rule_step
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND clean_rule_code = #{cleanRuleCode}
    </delete>
</mapper>