<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.rule.CloseRuleMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.rule.CloseRulePO" id="closeRulePOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="closeRuleCode" column="close_rule_code"/>
        <result property="closeRuleName" column="close_rule_name"/>
        <result property="defaultRule" column="default_rule"/>
        <result property="washSec" column="wash_sec"/>
        <result property="soakMin" column="soak_min"/>
        <result property="flushIntervalMin" column="flush_interval_min"/>
        <result property="flushSec" column="flush_sec"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="closeRulePOMap">
        SELECT * FROM close_rule
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="closeRuleCode != null">
                AND close_rule_code = #{closeRuleCode}
            </if>
            <if test="closeRuleName != null">
                AND close_rule_name = #{closeRuleName}
            </if>
    </select>

    <select id="selectList" resultMap="closeRulePOMap">
        SELECT * FROM close_rule
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
    </select>

    <select id="search" resultMap="closeRulePOMap">
        SELECT * FROM close_rule
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="closeRuleCode != null">
                AND close_rule_code = #{closeRuleCode}
            </if>
            <if test="closeRuleName != null">
                AND close_rule_name = #{closeRuleName}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.rule.CloseRulePO">
        INSERT INTO close_rule (
            gmt_created
            , gmt_modified
            , close_rule_code
            , close_rule_name
            , default_rule
            , wash_sec
            , soak_min
            , flush_interval_min
            , flush_sec
            , tenant_code
            , extra_info
        ) VALUES (
            now()
            , now()
            , #{closeRuleCode}
            , #{closeRuleName}
            , #{defaultRule}
            , #{washSec}
            , #{soakMin}
            , #{flushIntervalMin}
            , #{flushSec}
            , #{tenantCode}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.rule.CloseRulePO">
        UPDATE close_rule
        SET
            gmt_modified = now()
            <if test="closeRuleName != null">
                , close_rule_name = #{closeRuleName}
            </if>
            <if test="defaultRule != null">
                , default_rule = #{defaultRule}
            </if>
            <if test="washSec != null">
                , wash_sec = #{washSec}
            </if>
            <if test="soakMin != null">
                , soak_min = #{soakMin}
            </if>
            <if test="flushIntervalMin != null">
                , flush_interval_min = #{flushIntervalMin}
            </if>
            <if test="flushSec != null">
                , flush_sec = #{flushSec}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND close_rule_code = #{closeRuleCode}
    </update>

    <delete id="delete">
        DELETE FROM close_rule
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND close_rule_code = #{closeRuleCode}
    </delete>
</mapper>