<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.rule.DrainRuleToppingMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.rule.DrainRuleToppingPO" id="drainRuleToppingPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="drainRuleCode" column="drain_rule_code"/>
        <result property="toppingCode" column="topping_code"/>
        <result property="flushSec" column="flush_sec"/>
        <result property="tenantCode" column="tenant_code"/>
    </resultMap>

    <select id="selectList" resultMap="drainRuleToppingPOMap">
        SELECT * FROM drain_rule_topping
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND drain_rule_code = #{drainRuleCode}
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.rule.DrainRuleToppingPO">
        INSERT INTO drain_rule_topping (
            gmt_created
            , gmt_modified
            , drain_rule_code
            , topping_code
            , flush_sec
            , tenant_code
        ) VALUES (
            now()
            , now()
            , #{drainRuleCode}
            , #{toppingCode}
            , #{flushSec}
            , #{tenantCode}
        )
    </insert>

    <delete id="delete">
        DELETE FROM drain_rule_topping
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND drain_rule_code = #{drainRuleCode}
    </delete>
</mapper>