<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.ruleset.CleanActRecordMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.ruleset.CleanActRecordPO" id="cleanActRecordPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="machineCode" column="machine_code"/>
        <result property="shopCode" column="shop_code"/>
        <result property="cleanStartTime" column="clean_start_time"/>
        <result property="cleanEndTime" column="clean_end_time"/>
        <result property="cleanType" column="clean_type"/>
        <result property="cleanContent" column="clean_content"/>
        <result property="toppingCode" column="topping_code"/>
        <result property="pipelineNum" column="pipeline_num"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="cleanActRecordPOMap">
        SELECT * FROM clean_act_record
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and machine_code = #{machineCode}
            and shop_code = #{shopCode}
            and clean_start_time = #{cleanStartTime}
            and topping_code = #{toppingCode}
            and pipeline_num = #{pipelineNum}
    </select>

    <select id="selectList" resultMap="cleanActRecordPOMap">
        SELECT * FROM clean_act_record LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.ruleset.CleanActRecordPO">
        INSERT INTO `clean_act_record` (
            `gmt_created`
            , `gmt_modified`
            , `machine_code`
            , `shop_code`
            , `clean_start_time`
            , `clean_end_time`
            , `clean_type`
            , `clean_content`
            , `topping_code`
            , `pipeline_num`
            , `tenant_code`
            , `extra_info`
        ) VALUES (
            now()
            , now()
            , #{machineCode}
            , #{shopCode}
            , #{cleanStartTime}
            , #{cleanEndTime}
            , #{cleanType}
            , #{cleanContent}
            , #{toppingCode}
            , #{pipelineNum}
            , #{tenantCode}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <delete id="delete">
        DELETE FROM clean_act_record
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and machine_code = #{machineCode}
            and shop_code = #{shopCode}
            and clean_start_time = #{cleanStartTime}
            and topping_code = #{toppingCode}
            and pipeline_num = #{pipelineNum}
    </delete>
</mapper>