<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.menu.MenuDispatchMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.menu.MenuDispatchPO" id="menuDispatchPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="menuCode" column="menu_code"/>
        <result property="shopGroupCode" column="shop_group_code"/>
        <result property="tenantCode" column="tenant_code"/>
    </resultMap>

    <select id="selectOne" resultMap="menuDispatchPOMap">
        SELECT * FROM menu_dispatch
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="menuCode != null">
                AND menu_code = #{menuCode}
            </if>
            <if test="shopGroupCode != null">
                AND shop_group_code = #{shopGroupCode}
            </if>
    </select>

    <select id="selectList" resultMap="menuDispatchPOMap">
        SELECT * FROM menu_dispatch
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="menuCode != null">
                AND menu_code = #{menuCode}
            </if>
    </select>

    <select id="selectListByShopGroupCode" resultMap="menuDispatchPOMap">
        SELECT * FROM menu_dispatch
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="shopGroupCode != null">
                AND shop_group_code = #{shopGroupCode}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.menu.MenuDispatchPO">
        INSERT INTO menu_dispatch (
            gmt_created
            , gmt_modified
            , menu_code
            , shop_group_code
            , tenant_code
        ) VALUES (
            now()
            , now()
            , #{menuCode}
            , #{shopGroupCode}
            , #{tenantCode}
        )
    </insert>

    <delete id="delete">
        DELETE FROM menu_dispatch
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND menu_code = #{menuCode}
    </delete>
</mapper>