<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.menu.MenuMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.menu.MenuPO" id="menuPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="menuCode" column="menu_code"/>
        <result property="menuName" column="menu_name"/>
        <result property="validFrom" column="valid_from"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="comment" column="comment"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="menuPOMap">
        SELECT * FROM menu
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="menuCode != null">
                AND menu_code = #{menuCode}
            </if>
    </select>

    <select id="selectList" resultMap="menuPOMap">
        SELECT * FROM menu
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="menuCodeList != null and menuCodeList.size() > 0">
                AND menu_code IN
                <foreach item="menuCode" collection="menuCodeList" open="(" separator="," close=")">
                    #{menuCode}
                </foreach>
            </if>
    </select>

    <select id="search" resultMap="menuPOMap">
        SELECT * FROM menu
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="menuCode != null">
                AND menu_code = #{menuCode}
            </if>
            <if test="menuName != null">
                AND menu_name = #{menuName}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.menu.MenuPO">
        INSERT INTO menu (
            gmt_created
            , gmt_modified
            , menu_code
            , menu_name
            , valid_from
            , tenant_code
            , comment
            , extra_info
        ) VALUES (
            now()
            , now()
            , #{menuCode}
            , #{menuName}
            , #{validFrom}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.menu.MenuPO">
        UPDATE menu SET
            gmt_modified = now()
            <if test="menuName != null">
                , menu_name = #{menuName}
            </if>
            <if test="validFrom != null">
                , valid_from = #{validFrom}
            </if>
            <if test="tenantCode != null">
                , tenant_code = #{tenantCode}
            </if>
            <if test="comment != null">
                , comment = #{comment}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND menu_code = #{menuCode}
    </update>

    <delete id="delete">
        DELETE FROM menu
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND menu_code = #{menuCode}
    </delete>
</mapper>