<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.menu.MenuDispatchCacheMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.menu.MenuDispatchCachePO" id="menuDispatchCachePOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="init" column="init"/>
        <result property="fileName" column="file_name"/>
        <result property="md5" column="md5"/>
    </resultMap>

    <select id="selectOne" resultMap="menuDispatchCachePOMap">
        SELECT * FROM menu_dispatch_cache
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND init = #{init}
            AND file_name = #{fileName}
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.menu.MenuDispatchCachePO">
        INSERT INTO menu_dispatch_cache (
            gmt_created
            , gmt_modified
            , tenant_code
            , init
            , file_name
            , md5
        ) VALUES (
            now()
            , now()
            , #{tenantCode}
            , #{init}
            , #{fileName}
            , #{md5}
        )
    </insert>

    <delete id="deleteByFileName">
        DELETE FROM menu_dispatch_cache
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND init = #{init}
            AND file_name = #{fileName}
    </delete>

    <delete id="deleteByFileNameList">
        DELETE FROM menu_dispatch_cache
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND init = #{init}
            <if test="fileNameList != null and fileNameList.size() > 0">
                AND file_name IN
                <foreach item="fileName" collection="fileNameList" open="(" separator="," close=")">
                    #{fileName}
                </foreach>
            </if>
    </delete>

    <delete id="clear">
        DELETE FROM menu_dispatch_cache
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
    </delete>
</mapper>