<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.shop.ShopGroupMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.shop.ShopGroupPO" id="shopGroupPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="shopGroupCode" column="shop_group_code"/>
        <result property="shopGroupName" column="shop_group_name"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="comment" column="comment"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="shopGroupPOMap">
        SELECT * FROM shop_group
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="shopGroupCode != null">
                AND shop_group_code = #{shopGroupCode}
            </if>
            <if test="shopGroupName != null">
                AND shop_group_name = #{shopGroupName}
            </if>
    </select>

    <select id="selectList" resultMap="shopGroupPOMap">
        SELECT * FROM shop_group
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
    </select>

    <select id="search" resultMap="shopGroupPOMap">
        SELECT *
        FROM shop_group
        WHERE 1 = 1
            <if test="shopGroupName != null">
                AND `shop_group_name` = #{shopGroupName}
            </if>
            <if test="tenantCode != null">
                AND `tenant_code` = #{tenantCode}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.shop.ShopGroupPO">
        INSERT INTO `shop_group` (
            `gmt_created`
            , `gmt_modified`
            , `shop_group_code`
            , `shop_group_name`
            , `tenant_code`
            , `comment`
            , `extra_info`
        ) VALUES (
            now()
            , now()
            , #{shopGroupCode}
            , #{shopGroupName}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.shop.ShopGroupPO">
        UPDATE shop_group
        SET
            gmt_modified = now()
            <if test="shopGroupName != null">
                , `shop_group_name` = #{shopGroupName}
            </if>
            <if test="comment != null">
                , `comment` = #{comment}
            </if>
            <if test="extraInfo != null">
                , `extra_info` = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and shop_group_code = #{shopGroupCode}
    </update>

    <delete id="delete">
        DELETE FROM shop_group
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and shop_group_code = #{shopGroupCode}
    </delete>
</mapper>