<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.userset.AdminRoleMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.userset.AdminRolePO" id="adminRolePOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="roleCode" column="role_code"/>
        <result property="roleName" column="role_name"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="comment" column="comment"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="adminRolePOMap">
        SELECT * FROM admin_role
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and role_code = #{roleCode}
    </select>

    <select id="selectList" resultMap="adminRolePOMap">
        SELECT *
        FROM admin_role
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.userset.AdminRolePO">
        INSERT INTO `admin_role` (
            `gmt_created`
            , `gmt_modified`
            , `role_code`
            , `role_name`
            , `tenant_code`
            , `comment`
            , `extra_info`
        ) VALUES (
            now()
            , now()
            , #{roleCode}
            , #{roleName}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.userset.AdminRolePO">
        UPDATE admin_role
        SET
            gmt_modified = now()
            <if test="roleName != null">
                , role_name = #{roleName}
            </if>
            <if test="comment != null">
                , comment = #{comment}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and role_code = #{roleCode}
    </update>

    <delete id="delete">
        DELETE FROM admin_role
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and role_code = #{roleCode}
    </delete>
</mapper>