<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.record.OrderActRecordMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.record.OrderActRecordPO" id="orderActRecordPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
        <result property="idempotentMark" column="idempotent_mark"/>
        <result property="machineCode" column="machine_code"/>
        <result property="shopCode" column="shop_code"/>
        <result property="shopGroupCode" column="shop_group_code"/>
        <result property="orderGmtCreated" column="order_gmt_created"/>
        <result property="teaTypeCode" column="tea_type_code"/>
        <result property="teaCode" column="tea_code"/>
        <result property="outerOrderId" column="outer_order_id"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="selectOne" resultMap="orderActRecordPOMap">
        SELECT * FROM order_act_record
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND shop_group_code = #{shopGroupCode}
            AND idempotent_mark = #{idempotentMark}
    </select>

    <select id="selectList" resultMap="orderActRecordPOMap">
        SELECT * FROM order_act_record
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND shop_group_code = #{shopGroupCode}
        ORDER BY gmt_modified DESC
    </select>

    <select id="search" resultMap="orderActRecordPOMap">
        SELECT * FROM order_act_record
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND shop_group_code = #{shopGroupCode}
            <if test="shopCodeList != null and shopCodeList.size() > 0">
                AND shop_code IN
                <foreach item="shopCode" collection="shopCodeList" open="(" separator="," close=")">
                    #{shopCode}
                </foreach>
            </if>
        ORDER BY gmt_modified DESC
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.record.OrderActRecordPO">
        INSERT INTO order_act_record (
            gmt_created
            , gmt_modified
            , tenant_code
            , extra_info
            , idempotent_mark
            , machine_code
            , shop_code
            , shop_group_code
            , order_gmt_created
            , tea_type_code
            , tea_code
            , outer_order_id
            , state
        ) VALUES (
            now()
            , now()
            , #{tenantCode}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            , #{idempotentMark}
            , #{machineCode}
            , #{shopCode}
            , #{shopGroupCode}
            , #{orderGmtCreated}
            , #{teaTypeCode}
            , #{teaCode}
            , #{outerOrderId}
            , #{state}
        )
    </insert>

    <delete id="delete">
        DELETE FROM order_act_record
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND shop_group_code = #{shopGroupCode}
            AND idempotent_mark = #{idempotentMark}
    </delete>
</mapper>