<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.record.OrderSpecItemActRecordMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.record.OrderSpecItemActRecordPO" id="orderSpecItemActRecordPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="shopGroupCode" column="shop_group_code"/>
        <result property="idempotentMark" column="idempotent_mark"/>
        <result property="specCode" column="spec_code"/>
        <result property="specItemCode" column="spec_item_code"/>
    </resultMap>

    <select id="selectList" resultMap="orderSpecItemActRecordPOMap">
        SELECT * FROM order_specitem_act_record
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND shop_group_code = #{shopGroupCode}
            AND idempotent_mark = #{idempotentMark}
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.record.OrderSpecItemActRecordPO">
        INSERT INTO order_specitem_act_record (
            gmt_created
            , gmt_modified
            , tenant_code
            , shop_group_code
            , idempotent_mark
            , spec_code
            , spec_item_code
        ) VALUES (
            now()
            , now()
            , #{tenantCode}
            , #{shopGroupCode}
            , #{idempotentMark}
            , #{specCode}
            , #{specItemCode}
        )
    </insert>

    <delete id="delete">
        DELETE FROM order_specitem_act_record
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND shop_group_code = #{shopGroupCode}
            AND idempotent_mark = #{idempotentMark}
    </delete>
</mapper>