<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.record.SupplyActRecordMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.record.SupplyActRecordPO" id="supplyActRecordPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
        <result property="idempotentMark" column="idempotent_mark"/>
        <result property="machineCode" column="machine_code"/>
        <result property="shopCode" column="shop_code"/>
        <result property="shopGroupCode" column="shop_group_code"/>
        <result property="supplyTime" column="supply_time"/>
        <result property="toppingCode" column="topping_code"/>
        <result property="pipelineNum" column="pipeline_num"/>
        <result property="supplyAmount" column="supply_amount"/>
    </resultMap>

    <select id="selectOne" resultMap="supplyActRecordPOMap">
        SELECT * FROM supply_act_record
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND idempotent_mark = #{idempotentMark}
    </select>

    <select id="selectList" resultMap="supplyActRecordPOMap">
        SELECT * FROM supply_act_record
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
        ORDER BY gmt_modified DESC
    </select>

    <select id="search" resultMap="supplyActRecordPOMap">
        SELECT * FROM supply_act_record
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="shopGroupCodeList != null and shopGroupCodeList.size() > 0">
                AND shop_group_code IN
                <foreach item="shopGroupCode" collection="shopGroupCodeList" open="(" separator="," close=")">
                    #{shopGroupCode}
                </foreach>
            </if>
            <if test="shopCodeList != null and shopCodeList.size() > 0">
                AND shop_code IN
                <foreach item="shopCode" collection="shopCodeList" open="(" separator="," close=")">
                    #{shopCode}
                </foreach>
            </if>
        ORDER BY gmt_modified DESC
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.record.SupplyActRecordPO">
        INSERT INTO supply_act_record (
            gmt_created
            , gmt_modified
            , machine_code
            , shop_code
            , shop_group_code
            , supply_time
            , topping_code
            , pipeline_num
            , supply_amount
            , tenant_code
            , idempotent_mark
            , extra_info
        ) VALUES (
            now()
            , now()
            , #{machineCode}
            , #{shopCode}
            , #{shopGroupCode}
            , #{supplyTime}
            , #{toppingCode}
            , #{pipelineNum}
            , #{supplyAmount}
            , #{tenantCode}
            , #{idempotentMark}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <delete id="delete">
        DELETE FROM supply_act_record
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND idempotent_mark = #{idempotentMark}
    </delete>
</mapper>