<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.report.OrderReportMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.report.OrderReportPO" id="orderAmtReportPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="orderCreatedDay" column="order_created_day"/>
        <result property="shopGroupCode" column="shop_group_code"/>
        <result property="shopCode" column="shop_code"/>
        <result property="amount" column="amount"/>
    </resultMap>

    <select id="calcByDay" resultMap="orderAmtReportPOMap">
        SELECT
            tenant_code,
            #{orderCreatedDay} AS order_created_day,
            shop_group_code,
            shop_code,
            COUNT(1) AS amount
        FROM order_act_record_sharding_00
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND DATE(order_gmt_created) = #{orderCreatedDay}
            AND TIME(order_gmt_created) >= '00:00:00'
            AND TIME(order_gmt_created) <![CDATA[ < ]]> '24:00:00'
        GROUP BY tenant_code, order_created_day, shop_group_code, shop_code
        UNION
        SELECT
            tenant_code,
            #{orderCreatedDay} AS order_created_day,
            shop_group_code,
            shop_code,
            COUNT(1) AS amount
        FROM order_act_record_sharding_01
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND DATE(order_gmt_created) = #{orderCreatedDay}
            AND TIME(order_gmt_created) >= '00:00:00'
            AND TIME(order_gmt_created) <![CDATA[ < ]]> '24:00:00'
        GROUP BY tenant_code, order_created_day, shop_group_code, shop_code
        UNION
        SELECT
            tenant_code,
            #{orderCreatedDay} AS order_created_day,
            shop_group_code,
            shop_code,
            COUNT(1) AS amount
        FROM order_act_record_sharding_02
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND DATE(order_gmt_created) = #{orderCreatedDay}
            AND TIME(order_gmt_created) >= '00:00:00'
            AND TIME(order_gmt_created) <![CDATA[ < ]]> '24:00:00'
        GROUP BY tenant_code, order_created_day, shop_group_code, shop_code
        UNION
        SELECT
            tenant_code,
            #{orderCreatedDay} AS order_created_day,
            shop_group_code,
            shop_code,
            COUNT(1) AS amount
        FROM order_act_record_sharding_03
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND DATE(order_gmt_created) = #{orderCreatedDay}
            AND TIME(order_gmt_created) >= '00:00:00'
            AND TIME(order_gmt_created) <![CDATA[ < ]]> '24:00:00'
        GROUP BY tenant_code, order_created_day, shop_group_code, shop_code
    </select>

    <select id="search" resultMap="orderAmtReportPOMap">
        SELECT * FROM order_report
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="orderCreatedDayList != null and orderCreatedDayList.size() > 0">
                AND order_created_day IN
                <foreach item="orderCreatedDay" collection="orderCreatedDayList" open="(" separator="," close=")">
                    #{orderCreatedDay}
                </foreach>
            </if>
            <if test="shopGroupCodeList != null and shopGroupCodeList.size() > 0">
                AND shop_group_code IN
                <foreach item="shopGroupCode" collection="shopGroupCodeList" open="(" separator="," close=")">
                    #{shopGroupCode}
                </foreach>
            </if>
            <if test="shopCodeList != null and shopCodeList.size() > 0">
                AND shop_code IN
                <foreach item="shopCode" collection="shopCodeList" open="(" separator="," close=")">
                    #{shopCode}
                </foreach>
            </if>
        ORDER BY order_created_day DESC
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.report.OrderReportPO">
        INSERT INTO order_report (
            gmt_created
            , gmt_modified
            , tenant_code
            , order_created_day
            , shop_group_code
            , shop_code
            , amount
        ) VALUES (
            now()
            , now()
            , #{tenantCode}
            , #{orderCreatedDay}
            , #{shopGroupCode}
            , #{shopCode}
            , #{amount}
        )
    </insert>

    <delete id="delete">
        DELETE FROM order_report
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND order_created_day = #{orderCreatedDay}
    </delete>
</mapper>