<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.user.AdminMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.user.AdminPO" id="adminPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="loginName" column="login_name"/>
        <result property="loginPass" column="login_pass"/>
        <result property="roleCode" column="role_code"/>
        <result property="orgName" column="org_name"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="comment" column="comment"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="adminPOMap">
        SELECT * FROM admin
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="loginName != null">
                AND login_name = #{loginName}
            </if>
    </select>

    <select id="selectList" resultMap="adminPOMap">
        SELECT * FROM admin
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
    </select>

    <select id="search" resultMap="adminPOMap">
        SELECT * FROM admin
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="loginName != null">
                AND login_name = #{loginName}
            </if>
            <if test="roleCode != null">
                AND role_code = #{roleCode}
            </if>
    </select>

    <select id="countByRoleCode" resultType="int">
        SELECT COUNT(1) FROM admin
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="roleCode != null">
                AND role_Code = #{roleCode}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.user.AdminPO">
        INSERT INTO `admin` (
            `gmt_created`
            , `gmt_modified`
            , `login_name`
            , `login_pass`
            , `role_code`
            , `org_name`
            , `tenant_code`
            , `comment`
            , `extra_info`
        ) VALUES (
            now()
            , now()
            , #{loginName}
            , #{loginPass}
            , #{roleCode}
            , #{orgName}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.user.AdminPO">
        UPDATE admin
        SET
            gmt_modified = now()
            <if test="loginPass != null">
                , login_pass = #{loginPass}
            </if>
            <if test="roleCode != null">
                , role_code = #{roleCode}
            </if>
            <if test="orgName != null">
                , org_name = #{orgName}
            </if>
            <if test="comment != null">
                , comment = #{comment}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and login_name = #{loginName}
    </update>

    <delete id="delete">
        DELETE FROM admin
        WHERE 1 = 1
            <if test="tenantCode != null">
                AND tenant_code = #{tenantCode}
            </if>
            <if test="loginName != null">
                AND login_name = #{loginName}
            </if>
    </delete>
</mapper>