<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.user.RoleActRelMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.user.RoleActRelPO" id="roleActRelPO">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="roleCode" column="role_code"/>
        <result property="permitActCode" column="permit_act_code"/>
        <result property="tenantCode" column="tenant_code"/>
    </resultMap>

    <select id="selectOne" resultMap="roleActRelPO">
        SELECT * FROM role_act_rel
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND role_code = #{roleCode}
            AND permit_act_code = #{permitActCode}
    </select>

    <select id="selectList" resultMap="roleActRelPO">
        SELECT * FROM role_act_rel
        WHERE 1 = 1
            <if test="tenantCode != null">
                AND tenant_code = #{tenantCode}
            </if>
            <if test="roleCode != null">
                AND role_code = #{roleCode}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.user.RoleActRelPO">
        INSERT INTO role_act_rel (
            gmt_created
            , gmt_modified
            , role_code
            , permit_act_code
            , tenant_code
        ) VALUES (
            now()
            , now()
            , #{roleCode}
            , #{permitActCode}
            , #{tenantCode}
        )
    </insert>

    <delete id="delete">
        DELETE FROM role_act_rel
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and role_code = #{roleCode}
    </delete>
</mapper>