<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.user.TenantMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.user.TenantPO" id="tenantPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="tenantName" column="tenant_name"/>
        <result property="contactPerson" column="contact_person"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="comment" column="comment"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="tenantPOMap">
        SELECT * FROM tenant
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
    </select>

    <select id="selectList" resultMap="tenantPOMap">
        SELECT * FROM tenant
    </select>

    <select id="search" parameterType="com.langtuo.teamachine.dao.query.user.TenantQuery" resultMap="tenantPOMap">
        SELECT *
        FROM tenant
        WHERE 1 = 1
        <if test="tenantName != null">
            AND tenant_name = #{tenantName}
        </if>
        <if test="contactPerson != null">
            AND contact_person = #{contactPerson}
        </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.user.TenantPO">
        INSERT INTO `tenant` (
            `gmt_created`
            , `gmt_modified`
            , `tenant_code`
            , `tenant_name`
            , `contact_person`
            , `contact_phone`
            , `comment`
            , `extra_info`
        ) VALUES (
            now()
            , now()
            , #{tenantCode}
            , #{tenantName}
            , #{contactPerson}
            , #{contactPhone}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.user.TenantPO">
        UPDATE tenant SET
            gmt_modified = now()
            <if test="tenantName != null">
                , tenant_name = #{tenantName}
            </if>
            <if test="contactPerson != null">
                , contact_person = #{contactPerson}
            </if>
            <if test="contactPhone != null">
                , contact_phone = #{contactPhone}
            </if>
            <if test="comment != null">
                , comment = #{comment}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            AND tenant_code = #{tenantCode};
    </update>

    <delete id="delete">
        DELETE FROM tenant WHERE tenant_code = #{tenantCode}
    </delete>
</mapper>