<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.AdminMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.AdminPO" id="adminPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="adminLoginName" column="admin_login_name"/>
        <result property="adminLoginPass" column="admin_login_pass"/>
        <result property="adminRoleCode" column="admin_role_code"/>
        <result property="orgName" column="org_name"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="comment" column="comment"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="adminPOMap">
        SELECT * FROM admin
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and admin_login_name = #{adminLoginName}
    </select>

    <select id="selectList" resultMap="adminPOMap">
        SELECT * FROM admin LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.AdminPO">
        INSERT INTO `admin` (
            `gmt_created`
            , `gmt_modified`
            , `admin_login_name`
            , `admin_login_pass`
            , `admin_role_code`
            , `org_name`
            , `tenant_code`
            , `comment`
            , `extra_info`
        ) VALUES (
            now()
            , now()
            , #{adminLoginName}
            , #{adminLoginPass}
            , #{adminRoleCode}
            , #{orgName}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.AdminPO">
        UPDATE admin SET
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and admin_login_name = #{adminLoginName}
    </update>

    <delete id="delete">
        DELETE FROM admin
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and admin_login_name = #{adminLoginName}
    </delete>
</mapper>