<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.MachineModelMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.MachineModelPO" id="machineModelPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="modelCode" column="model_code"/>
        <result property="flowAllSupport" column="flow_all_support"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="machineModelPOMap">
        SELECT * FROM machine_model WHERE model_code = #{modelCode}
    </select>

    <select id="selectList" resultMap="machineModelPOMap">
        SELECT * FROM machine_model LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.MachineModelPO">
        INSERT INTO `machine_model` (
            `gmt_created`
            , `gmt_modified`
            , `model_code`
            , `flow_all_support`
            , `extra_info`
        ) VALUES (
            now()
            , now()
            , #{modelCode}
            , #{flowAllSupport}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.MachineModelPO">
        UPDATE machine_model SET
            flow_all_support = #{flowAllSupport}
            , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        WHERE model_code = #{model_code};
    </update>

    <delete id="delete">
        DELETE FROM machine_model WHERE model_code = #{model_code}
    </delete>
</mapper>