<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.MacineMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.MachinePO" id="machinePOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="machineCode" column="machine_code"/>
        <result property="screenCode" column="screen_code"/>
        <result property="elecBoardCode" column="elec_board_code"/>
        <result property="modelCode" column="model_code"/>
        <result property="machineName" column="machine_name"/>
        <result property="state" column="state"/>
        <result property="validUntil" column="valid_until"/>
        <result property="maintainUntil" column="maintain_unitl"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="machinePOMap">
        SELECT * FROM machine
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and machine_code = #{machineCode}
    </select>

    <select id="selectList" resultMap="adminPOMap">
        SELECT * FROM machine LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.ShopPO">
        INSERT INTO `machine` (
            `gmt_created`
            , `gmt_modified`
            , `screen_code`
            , `elec_board_code`
            , `model_code`
            , `machine_name`
            , `state`
            , `valid_until`
            , `maintain_until`
            , `tenant_code`
            , `comment`
            , `extra_info`
        ) VALUES (
            now()
            , now()
            , #{screenCode}
            , #{elecBoardCode}
            , #{modelCode}
            , #{machineName}
            , #{state}
            , #{validUntil}
            , #{maintainUntil}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="machine" parameterType="com.langtuo.teamachine.dao.po.ShopPO">
        UPDATE machine SET
            `screen_code` = #{screenCode}
            `elec_board_code` = #{elecBoardCode}
            `model_code` = #{modelCode}
            `machine_name` = #{machineName}
            `state` = #{state}
            `valid_until` = #{validUntil}
            `maintain_until` = #{maintainUntil}
            `tenant_code` = #{tenantCode}
            `comment` = #{comment}
            `extra_info` = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and machine_code = #{machineCode}
    </update>

    <delete id="delete">
        DELETE FROM machine
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and machine_code = #{machineCode}
    </delete>
</mapper>