<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.PermitActMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.PermitActPO" id="permitActPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="permitActCode" column="permit_act_code"/>
        <result property="permitActName" column="permit_act_name"/>
        <result property="permitActGroupCode" column="permit_act_group_code"/>
    </resultMap>

    <select id="selectOne" resultMap="permitActPOMap">
        SELECT * FROM permit_act
        WHERE 1 = 1
            AND permit_act_code = #{permitActCode}
    </select>

    <select id="selectList" resultMap="permitActPOMap">
        SELECT * FROM permit_act
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.PermitActPO">
        INSERT INTO `permit_act` (
            `gmt_created`
            , `gmt_modified`
            , `permit_act_code`
            , `permit_act_name`
            , `permit_act_group_code`
        ) VALUES (
            now()
            , now()
            , #{permitActCode}
            , #{permitActName}
            , #{permitActGroupCode}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.PermitActPO">
        UPDATE permit_act
        SET
            gmt_modified = now()
            <if test="permitActName != null">
                , permit_act_name = #{permitActName}
            </if>
            <if test="permitActGroupCode != null">
                , permit_act_group_code = #{permitActGroupCode}
            </if>
        WHERE 1 = 1
            AND permit_act_code = #{permitActCode};
    </update>

    <delete id="delete">
        DELETE FROM permit_act
        WHERE 1 = 1
            AND permit_act_code = #{permitActCode}
    </delete>
</mapper>