<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.PermActGroupMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.PermActGroupPO" id="permActGroupPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="permActGroupCode" column="perm_act_group_code"/>
        <result property="permActGroupName" column="perm_act_group_name"/>
    </resultMap>

    <select id="selectOne" resultMap="permActGroupPOMap">
        SELECT * FROM perm_act_group WHERE perm_act_group_code = #{permActGroupCode}
    </select>

    <select id="selectList" resultMap="permActGroupPOMap">
        SELECT * FROM perm_act_group LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.PermActGroupPO">
        INSERT INTO `perm_act_group` (
            `gmt_created`
            , `gmt_modified`
            , `perm_act_group_code`
            , `perm_act_group_name`
        ) VALUES (
            now()
            , now()
            , #{permActGroupCode}
            , #{permActGroupName}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.PermActGroupPO">
        UPDATE perm_act_group
        SET
            gmt_modified = now()
            <if test="permActGroupName != null">
                , perm_act_group_name = #{permActGroupName}
            </if>
        WHERE 1 = 1
            AND perm_act_group_code = #{permActGroupCode};
    </update>

    <delete id="delete">
        DELETE FROM perm_act_group
        WHERE 1 = 1
            AND perm_act_group_code = #{permActGroupCode}
    </delete>
</mapper>