<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.PermActMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.PermActPO" id="permActPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="permActCode" column="perm_act_code"/>
        <result property="permActName" column="perm_act_name"/>
        <result property="permActGroupCode" column="perm_act_group_code"/>
    </resultMap>

    <select id="selectOne" resultMap="permActPOMap">
        SELECT * FROM perm_act
        WHERE 1 = 1
            AND perm_act_code = #{permActCode}
    </select>

    <select id="selectList" resultMap="permActPOMap">
        SELECT * FROM perm_act LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.PermActPO">
        INSERT INTO `perm_act` (
            `gmt_created`
            , `gmt_modified`
            , `perm_act_code`
            , `perm_act_name`
            , `perm_act_group_code`
        ) VALUES (
            now()
            , now()
            , #{permActCode}
            , #{permActName}
            , #{permActGroupCode}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.PermActPO">
        UPDATE perm_act
        SET
            gmt_modified = now()
            <if test="permActName != null">
                , perm_act_name = #{permActName}
            </if>
            <if test="permActGroupCode != null">
                , perm_act_group_code = #{permActGroupCode}
            </if>
        WHERE 1 = 1
            AND perm_act_code = #{permActCode};
    </update>

    <delete id="delete">
        DELETE FROM perm_act
        WHERE 1 = 1
            AND perm_act_code = #{permActCode}
    </delete>
</mapper>