<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.PermitActGroupMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.PermitActGroupPO" id="permitActGroupPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="permitActGroupCode" column="permit_act_group_code"/>
        <result property="permitActGroupName" column="permit_act_group_name"/>
    </resultMap>

    <select id="selectOne" resultMap="permitActGroupPOMap">
        SELECT * FROM permit_act_group WHERE permit_act_group_code = #{permitActGroupCode}
    </select>

    <select id="selectList" resultMap="permitActGroupPOMap">
        SELECT * FROM permit_act_group
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.PermitActGroupPO">
        INSERT INTO `permit_act_group` (
            `gmt_created`
            , `gmt_modified`
            , `permit_act_group_code`
            , `permit_act_group_name`
        ) VALUES (
            now()
            , now()
            , #{permitActGroupCode}
            , #{permitActGroupName}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.PermitActGroupPO">
        UPDATE permit_act_group
        SET
            gmt_modified = now()
            <if test="permitActGroupName != null">
                , permit_act_group_name = #{permitActGroupName}
            </if>
        WHERE 1 = 1
            AND permit_act_group_code = #{permitActGroupCode};
    </update>

    <delete id="delete">
        DELETE FROM permit_act_group
        WHERE 1 = 1
            AND permit_act_group_code = #{permitActGroupCode}
    </delete>
</mapper>