<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.RolePermRelMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.rolePermRelPO" id="rolePermRelPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="adminRoleCode" column="admin_role_code"/>
        <result property="permActCode" column="perm_act_code"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="rolePermRelPOMap">
        SELECT * FROM role_perm_rel
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and admin_role_code = #{adminRoleCode}
            and perm_act_code = #{adminRoleCode}
    </select>

    <select id="selectList" resultMap="rolePermRelPOMap">
        SELECT * FROM role_perm_rel LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.rolePermRelPO">
        INSERT INTO `role_perm_rel` (
            `gmt_created`
            , `gmt_modified`
            , `admin_role_code`
            , `perm_act_code`
            , `tenant_code`
            , `extra_info`
        ) VALUES (
            now()
            , now()
            , #{adminRoleCode}
            , #{permActCode}
            , #{tenantCode}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.rolePermRelPO">
        UPDATE role_perm_rel SET
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and admin_role_code = #{adminRoleCode}
    </update>

    <delete id="delete">
        DELETE FROM role_perm_rel
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and admin_role_code = #{adminRoleCode}
    </delete>
</mapper>