<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.TeaSpecSubMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.TeaSpecSubPO" id="teaSpecSubPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="specCode" column="spec_code"/>
        <result property="specSubCode" column="spec_sub_code"/>
        <result property="specSubName" column="spec_sub_name"/>
        <result property="outerSpecSubCode" column="outer_spec_sub_code"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="teaSpecSubPOMap">
        SELECT * FROM tea_spec_sub
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and spec_sub_code = #{specSubCode}
    </select>

    <select id="selectList" resultMap="teaSpecSubPOMap">
        SELECT * FROM tea_spec_sub LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.TeaSpecSubPO">
        INSERT INTO `tea_spec_sub` (
            `gmt_created`
            , `gmt_modified`
            , `spec_code`
            , `spec_sub_code`
            , `spec_sub_name`
            , `outer_spec_sub_code`
            , `tenant_code`
            , `extra_info`
        ) VALUES (
            now()
            , now()
            , #{specCode}
            , #{specSubCode}
            , #{specSubName}
            , #{outerSpecSubCode}
            , #{tenantCode}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.TeaSpecSubPO">
        UPDATE tea_spec_sub
        SET
            gmt_modified = now()
        <if test="specCode != null">
            , spec_code = #{specCode}
        </if>
        <if test="specSubName != null">
            , spec_sub_name = #{specSubName}
        </if>
        <if test="outerSpecSubCode != null">
            , outer_spec_sub_code = #{outerSpecSubCode}
        </if>
        <if test="extraInfo != null">
            , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        </if>
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and spec_sub_code = #{specSubCode}
    </update>

    <delete id="delete">
        DELETE FROM tea_spec_sub
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and spec_sub_code = #{specSubCode}
    </delete>
</mapper>