<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.TeaMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.TeaPO" id="teaPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="teaCode" column="tea_code"/>
        <result property="teaName" column="tea_name"/>
        <result property="outerTeaCode" column="outer_tea_code"/>
        <result property="state" column="state"/>
        <result property="teaTypeCode" column="tea_type_code"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="comment" column="comment"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="teaPOMap">
        SELECT * FROM tea
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and tea_code = #{teaCode}
    </select>

    <select id="selectList" resultMap="teaPOMap">
        SELECT * FROM tea LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.TeaPO">
        INSERT INTO `tea` (
            `gmt_created`
            , `gmt_modified`
            , `tea_code`
            , `tea_name`
            , `outer_tea_code`
            , `state`
            , `tea_type_code`
            , `tenant_code`
            , `comment`
            , `extra_info`
        ) VALUES (
            now()
            , now()
            , #{teaCode}
            , #{teaName}
            , #{outerTeaCode}
            , #{state}
            , #{teaTypeCode}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.TeaPO">
        UPDATE tea
        SET
            gmt_modified = now()
            <if test="teaName != null">
                , teaName = #{teaName}
            </if>
            <if test="outerTeaCode != null">
                , outer_tea_code = #{outerTeaCode}
            </if>
            <if test="state != null">
                , state = #{state}
            </if>
            <if test="teaTypeCode != null">
                , tea_type_code = #{teaTypeCode}
            </if>
            <if test="tenantCode != null">
                , tenant_code = #{tenantCode}
            </if>
            <if test="comment != null">
                , comment = #{comment}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and tea_code = #{teaCode}
    </update>

    <delete id="delete">
        DELETE FROM tea
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and tea_code = #{teaCode}
    </delete>
</mapper>