<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.TeaToppingMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.TeaToppingPO" id="teaToppingPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="toppingCode" column="topping_code"/>
        <result property="toppingName" column="topping_name"/>
        <result property="toppingTypeCode" column="topping_type_code"/>
        <result property="weightUnit" column="weight_unit"/>
        <result property="state" column="state"/>
        <result property="validHourPeriod" column="valid_hour_period"/>
        <result property="validHourPeriod" column="clean_hour_period"/>
        <result property="validHourPeriod" column="convert_coefficient"/>
        <result property="flowSpeed" column="flow_speed"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="comment" column="comment"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="teaToppingPOMap">
        SELECT * FROM tea_topping
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and topping_code = #{toppingCode}
    </select>

    <select id="selectList" resultMap="adminPOMap">
        SELECT * FROM tea_topping LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.AdminPO">
        INSERT INTO `tea_topping` (
            `gmt_created`
            , `gmt_modified`
            , `topping_code`
            , `topping_name`
            , `topping_type_code`
            , `weight_unit`
            , `state`
            , `valid_hour_period`
            , `clean_hour_period`
            , `convert_coefficient`
            , `flow_speed`
            , `tenant_code`
            , `comment`
            , `extra_info`
        ) VALUES (
            now()
            , now()
            , #{toppingCode}
            , #{toppingName}
            , #{toppingTypeCode}
            , #{weightUnit}
            , #{state}
            , #{validHourPeriod}
            , #{cleanHourPeriod}
            , #{convertCoefficient}
            , #{flowSpeed}
            , #{tenantCode}
            , #{comment}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.AdminPO">
        UPDATE tea_topping SET
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and topping_code = #{toppingCode}
    </update>

    <delete id="delete">
        DELETE FROM tea_topping
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and topping_code = #{toppingCode}
    </delete>
</mapper>