<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.TeaSpecMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.TeaSpecPO" id="teaSpecPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="specCode" column="spec_code"/>
        <result property="specName" column="spec_name"/>
        <result property="state" column="state"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOne" resultMap="teaSpecPOMap">
        SELECT * FROM tea_spec
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and spec_code = #{specCode}
    </select>

    <select id="selectList" resultMap="teaSpecPOMap">
        SELECT * FROM tea_spec LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.TeaSpecPO">
        INSERT INTO `tea_spec` (
            `gmt_created`
            , `gmt_modified`
            , `spec_code`
            , `spec_name`
            , `state`
            , `tenant_code`
            , `extra_info`
        ) VALUES (
            now()
            , now()
            , #{specCode}
            , #{specName}
            , #{state}
            , #{tenantCode}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.TeaSpecPO">
        UPDATE tea_spec
        SET
            gmt_modified = now()
            <if test="specName != null">
                , spec_name = #{specName}
            </if>
            <if test="state != null">
                , state = #{state}
            </if>
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and spec_code = #{specCode}
    </update>

    <delete id="delete">
        DELETE FROM tea_spec
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and spec_code = #{specCode}
    </delete>
</mapper>