<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.TeaToppingAdjustMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.TeaToppingAdjustPO" id="teaToppingAdjustPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="teaUnitCode" column="tea_unit_code"/>
        <result property="teaCode" column="tea_code"/>
        <result property="toppingCode" column="topping_code"/>
        <result property="adjustAmount" column="adjust_amount"/>
        <result property="tenantCode" column="tenant_code"/>
    </resultMap>

    <select id="selectOne" resultMap="teaToppingAdjustPOMap">
        SELECT * FROM tea_topping_adjust
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and tea_unit_code = #{teaUnitCode}
    </select>

    <select id="selectList" resultMap="teaToppingAdjustPOMap">
        SELECT * FROM tea_topping_adjust LIMIT 100
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.TeaToppingAdjustPO">
        INSERT INTO `tea_topping_adjust` (
            `gmt_created`
            , `gmt_modified`
            , `tea_unit_code`
            , `tea_code`
            , `topping_code`
            , `adjust_amount`
            , `tenant_code`
        ) VALUES (
            now()
            , now()
            , #{teaUnitCode}
            , #{teaCode}
            , #{toppingCode}
            , #{adjustAmount}
            , #{tenantCode}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.TeaToppingAdjustPO">
        UPDATE tea_topping_adjust
        SET
            gmt_modified = now()
            <if test="teaCode">
                , tea_code = #{teaCode}
            </if>
            <if test="toppingCode">
                , topping_code = #{toppingCode}
            </if>
            <if test="adjustAmount">
                , adjust_amount = #{adjustAmount}
            </if>
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and tea_unit_code = #{teaUnitCode}
    </update>

    <delete id="delete">
        DELETE FROM tea_topping_adjust
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and tea_unit_code = #{teaUnitCode}
    </delete>
</mapper>