<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 关闭日志 -->
        <setting name="logImpl" value="org.apache.ibatis.logging.nologging.NoLoggingImpl"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" alias="MapStringTypeHandler"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="MapStringTypeHandler" jdbcType="VARCHAR" javaType="java.util.Map"/>
    </typeHandlers>

    <plugins>
        <plugin interceptor="com.langtuo.teamachine.dao.interceptor.LangTuoTableShardInterceptor" />
        <plugin interceptor="com.github.pagehelper.PageInterceptor" />
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://rm-cn-28t3ppz9e0001yho.rwlb.rds.aliyuncs.com:3306/gx_mysql_demo?useSSL=false&amp;characterEncoding=utf8&amp;serverTimezone=Asia/Shanghai&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="miya"/>
                <property name="password" value="password@1"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 每一个Mapper.xml都要在Mybatis核心配置文件中注册！ -->
        <!-- 设备 -->
        <mapper resource="mybatis/mapper/deviceset/machine-model-mapper.xml"/>
        <mapper resource="mybatis/mapper/deviceset/machine-model-pipeline-mapper.xml"/>
        <mapper resource="mybatis/mapper/deviceset/machine-mapper.xml"/>
        <mapper resource="mybatis/mapper/deviceset/machine-deploy-mapper.xml"/>
        <!-- 用户 -->
        <mapper resource="mybatis/mapper/userset/tenant-mapper.xml"/>
        <mapper resource="mybatis/mapper/userset/permit-act-mapper.xml"/>
        <mapper resource="mybatis/mapper/userset/permit-act-group-mapper.xml"/>
        <mapper resource="mybatis/mapper/userset/admin-mapper.xml"/>
        <mapper resource="mybatis/mapper/userset/admin-role-mapper.xml"/>
        <mapper resource="mybatis/mapper/userset/admin-role-act-rel-mapper.xml"/>
        <mapper resource="mybatis/mapper/userset/org-struc-mapper.xml"/>
        <!-- 店铺 -->
        <mapper resource="mybatis/mapper/shopset/shop-group-mapper.xml"/>
        <mapper resource="mybatis/mapper/shopset/shop-mapper.xml"/>
        <!-- 饮品生产 -->
        <mapper resource="mybatis/mapper/drinkset/topping-type-mapper.xml"/>
        <mapper resource="mybatis/mapper/drinkset/topping-mapper.xml"/>
        <mapper resource="mybatis/mapper/drinkset/spec-mapper.xml"/>
        <mapper resource="mybatis/mapper/drinkset/spec-item-mapper.xml"/>
        <mapper resource="mybatis/mapper/drinkset/tea-type-mapper.xml"/>
        <mapper resource="mybatis/mapper/drinkset/tea-mapper.xml"/>
        <mapper resource="mybatis/mapper/drinkset/tea-unit-mapper.xml"/>
        <mapper resource="mybatis/mapper/drinkset/topping-adjust-rule-mapper.xml"/>
        <mapper resource="mybatis/mapper/drinkset/topping-accuracy-template-mapper.xml"/>
        <!-- 菜单 -->
        <mapper resource="mybatis/mapper/menuset/series-mapper.xml"/>
        <mapper resource="mybatis/mapper/menuset/menu-mapper.xml"/>
        <mapper resource="mybatis/mapper/menuset/series-tea-rel-mapper.xml"/>
        <mapper resource="mybatis/mapper/menuset/menu-series-rel-mapper.xml"/>
        <mapper resource="mybatis/mapper/menuset/menu-dispatch-mapper.xml"/>
        <!-- 食安规则 -->
        <mapper resource="mybatis/mapper/ruleset/clean-rule-mapper.xml"/>
        <mapper resource="mybatis/mapper/ruleset/clean-rule-step-mapper.xml"/>
        <mapper resource="mybatis/mapper/ruleset/clean-rule-except-mapper.xml"/>
        <mapper resource="mybatis/mapper/ruleset/clean-rule-dispatch-mapper.xml"/>
        <mapper resource="mybatis/mapper/ruleset/open-rule-mapper.xml"/>
        <mapper resource="mybatis/mapper/ruleset/open-rule-topping-mapper.xml"/>
        <!-- 日常报表 -->
        <mapper resource="mybatis/mapper/reportset/warning-rule-mapper.xml"/>
        <mapper resource="mybatis/mapper/reportset/invalid-act-record-mapper.xml"/>
        <mapper resource="mybatis/mapper/reportset/supply-act-record-mapper.xml"/>
        <mapper resource="mybatis/mapper/reportset/clean-act-record-mapper.xml"/>
        <mapper resource="mybatis/mapper/reportset/order-act-record-mapper.xml"/>
    </mappers>
</configuration>
