<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 关闭日志 -->
        <setting name="logImpl" value="org.apache.ibatis.logging.nologging.NoLoggingImpl"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" alias="MapStringTypeHandler"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="MapStringTypeHandler" jdbcType="VARCHAR" javaType="java.util.Map"/>
    </typeHandlers>

    <plugins>
        <plugin interceptor="com.langtuo.teamachine.dao.interceptor.LangTuoTableShardInterceptor" />
        <plugin interceptor="com.github.pagehelper.PageInterceptor" />
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://rm-cn-28t3ppz9e0001yho.rwlb.rds.aliyuncs.com:3306/gx_mysql_demo?useSSL=false&amp;characterEncoding=utf8&amp;serverTimezone=Asia/Shanghai&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="miya"/>
                <property name="password" value="password@1"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 每一个Mapper.xml都要在Mybatis核心配置文件中注册！ -->
        <mapper resource="mybatis/mapper/machine-model-mapper.xml"/>
        <mapper resource="mybatis/mapper/machine-model-pipeline-mapper.xml"/>
        <mapper resource="mybatis/mapper/tenant-mapper.xml"/>
        <mapper resource="mybatis/mapper/permit-act-mapper.xml"/>
        <mapper resource="mybatis/mapper/permit-act-group-mapper.xml"/>
        <mapper resource="mybatis/mapper/org-struc-mapper.xml"/>
        <mapper resource="mybatis/mapper/shop-group-mapper.xml"/>
        <mapper resource="mybatis/mapper/shop-mapper.xml"/>
        <mapper resource="mybatis/mapper/machine-mapper.xml"/>
        <mapper resource="mybatis/mapper/machine-deploy-mapper.xml"/>
        <mapper resource="mybatis/mapper/tea-topping-type-mapper.xml"/>
        <mapper resource="mybatis/mapper/tea-topping-mapper.xml"/>
        <mapper resource="mybatis/mapper/tea-spec-mapper.xml"/>
        <mapper resource="mybatis/mapper/tea-spec-sub-mapper.xml"/>
        <mapper resource="mybatis/mapper/tea-type-mapper.xml"/>
        <mapper resource="mybatis/mapper/tea-mapper.xml"/>
        <mapper resource="mybatis/mapper/tea-topping-normal-mapper.xml"/>
        <mapper resource="mybatis/mapper/tea-spec-rel-mapper.xml"/>
        <mapper resource="mybatis/mapper/tea-topping-adjust-mapper.xml"/>
        <mapper resource="mybatis/mapper/series-mapper.xml"/>
        <mapper resource="mybatis/mapper/menu-mapper.xml"/>
        <mapper resource="mybatis/mapper/series-tea-rel-mapper.xml"/>
        <mapper resource="mybatis/mapper/menu-series-rel-mapper.xml"/>
        <mapper resource="mybatis/mapper/menu-dispatch-mapper.xml"/>
        <mapper resource="mybatis/mapper/clean-rule-mapper.xml"/>
        <mapper resource="mybatis/mapper/clean-except-rule-mapper.xml"/>
        <mapper resource="mybatis/mapper/clean-step-mapper.xml"/>
        <mapper resource="mybatis/mapper/clean-rule-dispatch-mapper.xml"/>
        <mapper resource="mybatis/mapper/warning-rule-mapper.xml"/>
        <mapper resource="mybatis/mapper/invalid-act-record-mapper.xml"/>
        <mapper resource="mybatis/mapper/supply-act-record-mapper.xml"/>
        <mapper resource="mybatis/mapper/clean-act-record-mapper.xml"/>
        <mapper resource="mybatis/mapper/order-act-record-mapper.xml"/>
    </mappers>
</configuration>
